body {
    text-align: center;
    background-color: black;
}

h2,
h3 {
    color: white;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-rows: 10% auto;
}

.title-board {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 50px;
}

.qrcode {
    position: fixed;
    top: calc(100% - 168px);
    left: calc(100% - 168px);
}

.display-board {
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
}

.moving-canvas {
    display: block;
    position: absolute;
    -webkit-animation: moveX 5s linear 0s infinite alternate,
        moveY 8s linear 0s infinite alternate;
    -moz-animation: moveX 5s linear 0s infinite alternate,
        moveY 8s linear 0s infinite alternate;
    -o-animation: moveX 5s linear 0s infinite alternate,
        moveY 8s linear 0s infinite alternate;
    animation: moveX 5s linear 0s infinite alternate,
        moveY 8s linear 0s infinite alternate;
}

@-webkit-keyframes moveX {
    from {
        left: 0;
    }
    to {
        left: calc(100% - 150px);
    }
}
@-moz-keyframes moveX {
    from {
        left: 0;
    }
    to {
        left: calc(100% - 150px);
    }
}
@-o-keyframes moveX {
    from {
        left: 0;
    }
    to {
        left: calc(100% - 150px);
    }
}
@keyframes moveX {
    from {
        left: 0;
    }
    to {
        left: calc(100% - 150px);
    }
}

@-webkit-keyframes moveY {
    from {
        top: 0;
    }
    to {
        top: calc(100% - 150px);
    }
}
@-moz-keyframes moveY {
    from {
        top: 0;
    }
    to {
        top: calc(100% - 150px);
    }
}
@-o-keyframes moveY {
    from {
        top: 0;
    }
    to {
        top: calc(100% - 150px);
    }
}
@keyframes moveY {
    from {
        top: 0;
    }
    to {
        top: calc(100% - 150px);
    }
}
