@import url("https://fonts.googleapis.com/css?family=Pangolin&display=swap");
body {
    background-color: black;
    font-family: "Pangolin", cursive;
    margin: 0;
    padding: 0;
    height: 100vh;
}

#root {
    height: 100%;
}
